@{
    ViewData["Title"] = "Home Page";
}

@model List<Category>

<div class="content_section">

    <h2>Welcome to Pink Shop</h2>

    <p><a href="http://www.templatemo.com" target="_parent">Free CSS Templates</a> are provided by <a href="http://www.templatemo.com" target="_parent">TemplateMo.com</a> for everyone. Feel free to use this template for your websites. Credit goes to <a href="http://www.photovaco.com" target="_blank">Free Photos</a> for photos used in this template. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam vitae ipsum vulputate varius vitae semper nunc. Quisque eget elit quis augue pharetra feugiat.</p>
</div>

<div class="content_section">

    <h2>Our Products</h2>

    <div class="product_box margin_r35">

        <h3 class="name">@ViewBag.products1[0].Name</h3>

        <div class="image_wrapper"> <a href="http://www.templatemo.com/page/1" target="_parent"><img src="@ViewBag.products1[0].ImageUrl" alt="product 2" /></a> </div>

        <p class="price">Price: $350</p>
        <a href="/product/@ViewBag.products1[0].Id">Detail</a> | <a class="btn-buy" data-id="@ViewBag.products1[0].Id" href="#">Buy Now</a>

    </div>

    <div class="product_box margin_r35">
        <h3 class="name">@ViewBag.products1[1].Name</h3>

        <div class="image_wrapper"> <a href="http://www.templatemo.com/page/2" target="_parent"><img src="@ViewBag.products1[1].ImageUrl" alt="product 3" /></a> </div>

        <p class="price">Price: $550</p>
        <a href="/product/@ViewBag.products1[1].Id">Detail</a> | <a class="btn-buy" data-id="@ViewBag.products1[1].Id" href="#">Buy Now</a>
    </div>

    <div class="product_box">
        <h3 class="name">@ViewBag.products1[2].Name</h3>

        <div class="image_wrapper"> <a href="http://www.templatemo.com/page/3" target="_parent"><img src="@ViewBag.products1[2].ImageUrl" alt="product 4" /></a> </div>

        <p class="price">Price: $250</p>
        <a href="/product/@ViewBag.products1[2].Id">Detail</a> | <a class="btn-buy" data-id="@ViewBag.products1[2].Id" href="#">Buy Now</a>
    </div>

    <div class="cleaner"></div>

    <div class="product_box margin_r35">
        <h3 class="name">@ViewBag.products2[0].Name</h3>

        <div class="image_wrapper"> <a href="http://www.templatemo.com/page/4" target="_parent"><img src="@ViewBag.products2[0].ImageUrl" alt="product 5" /></a> </div>

        <p class="price">Price: $850</p>
        <a href="/product/@ViewBag.products2[0].Id">Detail</a> | <a class="btn-buy" data-id="@ViewBag.products2[0].Id" href="#">Buy Now</a>
    </div>

    <div class="product_box margin_r35">
        <h3 class="name">@ViewBag.products2[1].Name</h3>

        <div class="image_wrapper"> <a href="http://www.templatemo.com/page/5" target="_parent"><img src="@ViewBag.products2[1].ImageUrl" alt="product 6" /></a> </div>

        <p class="price">Price: $450</p>
        <a href="/product/@ViewBag.products2[1].Id">Detail</a> | <a class="btn-buy" data-id="@ViewBag.products2[1].Id" href="#">Buy Now</a>
    </div>

    <div class="product_box">
        <h3 class="name">@ViewBag.products2[2].Name</h3>

        <div class="image_wrapper"> <a href="http://www.templatemo.com/page/6" target="_parent"><img src="@ViewBag.products2[2].ImageUrl" alt="product 7" /></a> </div>

        <p class="price">Price: $350</p>
        <a href="/product/@ViewBag.products2[2].Id">Detail</a> | <a class="btn-buy" data-id="@ViewBag.products2[2].Id" href="#">Buy Now</a>
    </div>

    <div class="cleaner"></div>

    <div class="button_01"><a href="#">View All</a></div>

</div>

@section Scripts {
    <script src="sweetalert2.all.min.js"></script>
    <script>


        jQuery(document).ready(function () {
                        jQuery(".btn-buy").click(function () {
                            console.log(jQuery(this).data("id"));
                            jQuery.ajax({
                                method: "POST",
                                url: "/Cart/AddToCart",
                                data: {
                                    id: jQuery(this).data("id"),
                                },
                                success: function (data) {
                                    Swal.fire({
                                        position: 'top-end',
                                        icon: 'success',
                                        title: 'Add new item success',
                                        showConfirmButton: false,
                                        timer: 1500
                                    })
                                },
                                error: function () {
                                    Swal.fire({
                                        position: 'top-end',
                                        icon: 'error',
                                        title: 'Add new item failed',
                                        showConfirmButton: false,
                                        timer: 1500
                                    })
                                }
                            })
                        })
                    });
        @*jQuery(document).ready(function () {
              console.log("hello");
              $(".updatecartitem").click(function (event) {
                  event.preventDefault();
                  var productid = $(this).attr("data-productid");
                  var quantity = $("#quantity-" + productid).val();
                  $.ajax({
                      type: "POST",
                      url:"@Url.RouteUrl("updatecart")",
                      data: {
                          productid: productid,
                          quantity:quantity
                      },
                      success: function (result) {
                          window.location.href = "@Url.RouteUrl("cart")";
                      }
                  });
              });
          });*@
    </script>
}

